<html>
    <head>
        <title>Reset your password</title>T
    </head>
    <body>
        <form method="POST">
            {%if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {%endif%}
            <label>New Password: </label>
            <input type="password" name="password"><br>
            <label>Confirm password: </label>
            <input type="password" name="cpassword"><br>
            <input type="submit" value="Confirm">
        </form>
    </body>
</html>