<html>
    <head><title>Signup Page</title></head>
    <body>
        <div>
            <form>
                <label>first name</label>
                <input type="text" name="first_name"><br>
                <label>last name</label>
                <input type="text" name="last_name"><br>
                <label>email</label>
                <input type="text" name="email"><br>
                <label>phone</label>
                <input type="text" name = "phone"><br>
                <label>password</label>
                <input type="password" name = "password"><br>
                <label>confirm password</label>
                <input type="password" name = "cpassword"><br>
                <input type="submit" value="Login"> 
            </form>
        </div>
    </body>
</html>