<html>
    <head><title>Signup Page</title></head>
    <body>
        <div>
            <form method="POST">
                {%if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {%endif%}
                <label>first name</label>
                <input type="text" name="first_name" required><br>
                <label>last name</label>
                <input type="text" name="last_name" required><br>
                <label>email</label>
                <input type="email" name="email" required><br>
                <label>phone</label>
                <input type="number" name = "phone" required><br>
                <label>password</label>
                <input type="password" name = "password" required><br>
                <label>confirm password</label>
                <input type="password" name = "cpassword" required><br>
                <input type="submit" value="Login"> 
            </form>
        </div>
    </body>
</html>